p {
	
	color:red;

}

body {

	background-color:#13D14F;

	


}



img {

	height:245px;
	width:175px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	

}

div#player_total {


	position:absolute;
	top:500px;
	height:100px;
	width:100px;
	background-color:black;
	color:white;
	font-size: 50px;
	text-align:center;
	vertical-align: middle;
	line-height:100px;



}


.banner {

	position:absolute;
	background-color:rgba(0,0,0,.5);
	color:white;
	width:1000px;
	height:300px;
	top:100px;
	left:200px;
	text-align:center;
	vertical-align: center;
	line-height:300px;
	font-size:100px;
	font-family:sans-serif;



}

div#reload {

	position:absolute;
	background-color:white;
	color:black;
	width:100px;
	height:50px;
	top:225px;
	left:450px;
	font-size:10px;
	cursor:pointer;
	text-align:center;
	vertical-align: center;
	line-height:50px;
	border:1px solid black;



}


div#hit {


	font-size:25px;
	width:100px;
	height:50px;
	position:absolute;
	top:625px;
	left:375px;
	font-family:Arial sans-serif;
	background-color:white;
	color:black;
	border:1px solid black;
	text-align:center;
	vertical-align: center;
	line-height: 50px;
	cursor:pointer;
	box-shadow: 2px 2px black;




}

div#hit:hover {

	background-color:yellow;

}

.test {

	height:245px;
	width:175px;
	position:absolute;
	top:350px;
	

}